venv/
__pycache__/
*.pyc
*.pyo
.env
chroma_db/
vgraphrag_db/
templates/pdfs/
toclean/
output_text/
clean_text.zip
*.log
*.tar.gz
ABC/
*.afpub
.DS_Store
.next/
*.afpub
embed_errors.log
cleaned_better.txt
cleaned_dict.txt
cleaned_regex.txt
